fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
psycopg[binary]==3.2.6
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
celery[redis]==5.5.2
redis==5.2.1
pydantic==2.11.4
pydantic-settings==2.9.1
httpx==0.28.1
sqlparse==0.5.3
python-dotenv==1.1.0
